﻿@model SourceS.Models.ViewModels.HistoricoDinamicoDTO

@{
    ViewBag.Title = "Create";
}

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>

<div class="modal-header">
    <button id="btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Programa</h4>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "programschoice"}))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <p id="MessageToClient" class="text-danger"></p>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new {@class = "col-md-offset-2 text-danger"})

            @Html.HiddenFor(model => model.gasolinerId)
            @Html.HiddenFor(model => model.identificador)

            <div class="form-group">
                <div class="col-md-offset-2 col-xs-4 col-md-4">
                    <h4 class=""><i class="fa fa-calendar-o"></i> Fecha*</h4>
                    @Html.EditorFor(model => model.Fecha, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Fecha, "", new {@class = "text-danger"})
                </div>
                <div class="col-xs-4 col-md-4">
                    <h4 class=""><i class="fa fa-clock-o" aria-hidden="true"></i> Hora*</h4>

                    @Html.EditorFor(model => model.Hora, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Hora, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-xs-8 col-md-8">
                    <h4 class=""><i class="fa fa-building" aria-hidden="true"></i> Gasolinera*</h4>
                    @Html.DisplayFor(model => model.identificador, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>
            @for (int i = 0; i < Model.Productos.Count(); i++)
            {
                    @Html.HiddenFor(model => Model.Productos[i].Nombre)
                    @Html.HiddenFor(model => Model.Productos[i].ProductoId)
                    @Html.HiddenFor(model => Model.Productos[i].GasolineraId)
                    @Html.HiddenFor(model => Model.Productos[i].Letra)
                    @Html.HiddenFor(model => Model.Productos[i].RowVersion)
                    @Html.HiddenFor(model => Model.Productos[i].IsDeleted)


                    <div class="form-group">
                        <div class="col-md-offset-2 col-xs-8 col-md-8">
                            <h4 class=""><i class="fa fa-calendar-o"></i> Nombre:</h4>
                            @Html.DisplayFor(model => Model.Productos[i].Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-xs-8 col-md-8">
                            <h4 class=""><i class="fa fa-calendar-o"></i> Precio:</h4>
                            @Html.EditorFor(model => Model.Productos[i].Precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => Model.Productos[i].Precio, "", new { @class = "text-danger" })
                        </div>
                    </div>
            }


        </div>


    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Programar" />
    </div>
}
