﻿@model SourceS.Models.ViewModels.FormularioVM

@{
    ViewBag.Title = "Create";
    var id = ViewBag.gasolineraID;
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Formulario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Lista", "Gasolineras", new { id = ViewBag.personaID}, null)">Indice</a>
            </li>
            <li class="active">
                <strong>Formulario</strong>
            </li>
        </ol>
    </div>
</div>


@using (Html.BeginForm("Create","Dispositivos",new { Omega = ViewBag.personaID}))
{
    <div class="wrapper wrapper-content animated fadeInRight">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Información!</strong><h3>@TempData["Message"]</h3>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">

                        @Html.AntiForgeryToken()
                        <div id="form" class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.gasolineraID)
                            <div class="form-group">
                                @Html.LabelFor(model => model.ip, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ip, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ip, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="formCollectionProducts">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Formulario de  productos por Gasolinera</h5>
                            <div class="ibox-tools">
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table id="example" class="table table-striped dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>
                                            Numero
                                        </th>
                                        <th>
                                            Producto
                                        </th>
                                        <th class="text-center">
                                            Cantidad
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.Productos!=null){
                                    for (int i = 0; i < Model.Productos.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @(i + 1)
                                                @Html.HiddenFor(model => model.Productos[i].Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Productos[i].Nombre)
                                            </td>
                                            <td class="text-center text-box">
                                                @Html.TextBoxFor(model => model.Productos[i].Precio)
                                                @Html.ValidationMessageFor(model => model.Productos[i].Precio, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    }

                                    }
                                </tbody>
                            </table>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary btn-block" value="Crear" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}