﻿@model SourceS.Models.Dispositivo

@{
    ViewBag.Title = "Delete";
    var idGasolinera = Request.QueryString["idGasolinera"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Eliminar Dueño</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Lista", new { id = idGasolinera})
            </li>
            <li class="active">
                <strong>Delete</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dueño</h5>
                </div>
                <div class="ibox-content">
                    <h3>¿Esta seguro de eliminar el Dispositivo?</h3>
                    <div>
                        <h4>Dispositivo</h4>
                        <hr />
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.ip)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ip)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nombre)
                            </dd>

                        </dl>



                        @using (Html.BeginForm("Delete","Dispositivos", new { idGasolinera = idGasolinera }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-primary" />
                                @Html.ActionLink("Regresar a la lista", "Lista", new { id = idGasolinera }, new { @class = "btn btn-white" })
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>