﻿<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Gas Station Web</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            { 

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Administradores", "Index", "Administradores")</li>
              
                </ul>
                @Html.Partial("_LoginPartial")
            }
            
            @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
            {

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Dueños")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            }

            @if (Request.IsAuthenticated && User.IsInRole("Usuario"))
            {

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Historiales", "Usuario", "Home")</li>
                    <li>@Html.ActionLink("Estaciones", "Index", "Gasolineras")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            }

        </div>
    </nav>
</div>