﻿@model SourceS.Models.Gasolinera

@{
    ViewBag.Title = "Delete";
    var valor = ViewBag.idPersona;
}

<div class="modal-header" style="background:#c94c4c; color: white;">
    <button id="btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Gasolinera</h4>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <div class="modal-body">
                        <h3>¿Esta seguro de eliminar la gasolinera del Dueño?</h3>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.identificador)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.identificador)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ciudad)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ciudad)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.municipio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.municipio)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.estado)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.estado)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.colonia)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.colonia)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.calle)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.calle)
                            </dd>

                        </dl>
                        @using (Ajax.BeginForm("Delete", "Gasolineras", new { id = Model.gasolineraID, Andromeda = ViewBag.idPersona }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getResult" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-warning btn-block" />
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn" data-dismiss="modal">Regresar</button>
    </div>
</div>
