﻿@model SourceS.Models.Gasolinera

@{
    ViewBag.Title = "Edit";
}


<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>

<div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="True">&times;</a>
    <h4 class="modal-title">Editar Gasolinera</h4>
</div>
    @using (Html.BeginForm("Edit", "Gasolineras", new { Andromeda = ViewBag.ID }))
    {
        @Html.AntiForgeryToken()


        <div class="modal-body">
            <div class="form-horizontal">
                <h4>Gasolinera</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.gasolineraID)
                @Html.HiddenFor(model => model.idDueño)
                @Html.HiddenFor(model => model.identificador)


                <div class="form-group">
                    @Html.LabelFor(model => model.ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ciudad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.municipio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.municipio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.municipio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.colonia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.calle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.calle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.calle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


        </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Actualizar" />
    </div>
    }