﻿@model SourceS.Models.FormularioAdministrador.DispositivoDTO


<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>


<div id="RegSuccessDivTwo">
    @HMTLHelperExtensions.MultipleStepProgressTab(Html, ViewBag.Opt)

    @using (Ajax.BeginForm("Step2", "Gasolineras", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "RegSuccessDivTwo",
        HttpMethod = "Post"
    }))
    {
        @Html.AntiForgeryToken()



        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ip, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10"> 
                    @Html.EditorFor(model => model.ip, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ip, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Gasolinera", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("gasolineraID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("¿Cuantos productos quieres dar de alta?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.CantidadProductos, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CantidadProductos, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Siguiente" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }
</div>