﻿@model List<SourceS.Models.Producto>


<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>


@HMTLHelperExtensions.MultipleStepProgressTab(Html, ViewBag.Opt)

@using (Ajax.BeginForm("Step3", "Gasolineras", new { gasolineraId = ViewBag.idGasolinera }, new AjaxOptions
{
    HttpMethod = "Post"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div id="productoList">
            @if (Model != null && Model.Count > 0)
            {

                for (int i = 0; i < Model.Count; i++)
                {

                    <div class="productoRow">

                        <div class="form-group">
                            @Html.LabelFor(model => Model[i].Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => Model[i].Nombre, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => Model[i].Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => Model[i].Precio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model[i].Precio, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                }
            }
            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
